$black-color: #040404;
$gray-color: #D4D4D4;
$white-color: #fff;
$black-shadow-color: #00000040;
$red-shadow-color: #FF2F54;

// media
$breakpoint_1920px: 1920px;
$breakpoint_1600px: 1600px;
$breakpoint_1250px: 1250px;
$breakpoint_1000px: 1000px;
$breakpoint_900px: 900px;
$breakpoint_600px: 600px;

$desktop: 1440px;
$table: 767px;
$mobile: 420px;
